[user]
	email = sunny_chow@acm.org
	name = Sunny Chow
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
